@page {
    margin: 0cm;
}

html, body {
    margin: 0 !important;
    padding: 0 !important;
}
body {
    margin: 0cm;
    padding: 0cm;
    background-image: url("{{ public_path('img/fondo_cert_old.png') }}");
    background-size: 93% 93%;
    /* background-image: url("{{ public_path('img/fondo_certificado.png') }}");
    background-size: 108% 108%; */
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'DejaVu Sans', sans-serif;
}

.contenido {
    padding: 5cm 3cm 3cm 3cm;
    text-align: center;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    line-height: 1.5;
}