body {
    font-family: DejaVu Sans, sans-serif;
    font-size: 11px;
    margin: -20px;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #000;
    padding: 4px;
    text-align: center;
}
.header-logo {
    width: 120px;
}
.titulo {
    font-weight: bold;
    text-align: center;
}
.azul {
    background-color: #7db1e0;
    font-weight: bold;
}
.sin-borde {
    border: none;
}
.page-border {
    border: 2px solid #000; /* grosor y color del borde */
    padding: 10px;          /* espacio interno para que no quede pegado */
    height: 100%;
}
.observaciones {
    margin-top: 15px;
    width: 100%;
    border: 1px solid #000;
}
.observaciones th {
    background-color: #7db1e0;
    text-align: center;
    padding: 4px;
}

.atributosize{
    width: 60px;
    text-align: right;
}

.datosEnc{
    text-align: left;
}

.enc{
    text-align: center;
}
/* @page {
    margin: 0cm;
}

html, body {
    margin: 0 !important;
    padding: 0 !important;
}
body {
    margin: 0cm;
    padding: 0cm;
}

.contenido {
    padding: 5cm 3cm 3cm 3cm;
    text-align: center;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    line-height: 1.5;
}
body{
    text-justify: auto;
}

.section-border{
    width: 100%;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    padding: auto;
    background-color: rgb(250, 250, 250);
}

.form-group{
    border-style: solid;
    width: 100%;
    border-width: 1px;
    border-color: rgb(167, 167, 167);
}

.column-2{
    float: left;
    width: 49.8%;
}
.column-3{
    float: left;
    width: 33.1%;
}
.column-4{
    float: left;
    width: 24.7%;
}
.column-4r{
    float: right;
    width: 75%;
}
.column-10{
    float: left;
    width: 9.9%;
}

.column-10r{
    float: right;
    width: 9.9%;
}

.column-2r{
    float: right;
    width: 49.8%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
.table{
    width: 100%;
    border: 1px solid gray;
    background-color: rgb(250, 250, 250);
}
thead{
    background-color: rgb(236, 236, 236);
}
td{
    text-align: center;
}
.subtable{
    width: 100%;
    border: 1px solid gray;
}
h2{
    text-align: center;
}
.subtitulo{
    background-color: rgb(221, 221, 221);
}
.crono{
    width: 6%;
    min-width: 6%;
    max-width: 6%;    
}
.row-crono{
    width: 100%;
}
.nom{
    width: 15%;
}
.ord{
    width: 10%;
}
td{
    border: 1px solid rgb(187, 187, 187);
}
.nono{
    border: 0px;
    width: 16.8%;
}
.page_break {
    page-break-before: always;
  }

.logo{
    width: 130px;
    height:60px;
    float: left;
}
.txt{
    font-size: 11px;
    float: right;
    text-align: right;
    color: rgb(58, 58, 58);
}

header { 
    position: fixed; 
    top: 70px; 
    left: 400px; 
    right: 0px; 
    height: 50px; 
    margin-bottom: 5cm;

}
footer { position: fixed; bottom: -60px; left: 0px; right: 0px; height: 50px; } */

